button {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;
    margin: 2px;
    height: 80px;
    width: 100px;
    border-radius: 30%;
    position: relative;
}

button:hover{
    background-color: gainsboro;
    font-size: 27px;
}

.back{
    background-color: antiquewhite;
    height: auto;
    width: 450px;
    border: 3px solid black;
    border-radius:3%;
}
.back2 {
    padding-left: 10px;
    padding-bottom: 10px;
}
.blank {
    background-color: transparent;
    color: transparent;
    border: 0px solid black;
}

.blank:hover{
    background-color: transparent;
}

.answer {
    padding-top: 10px;
    padding-left:10px;
    display: block;
}

.sidebar:hover{
    background-color: darkgrey;
    font-size: 27px;
}

.sidebar {
    width: 100px;
    background-color: gainsboro;
}

.summer {
    background-color: khaki;
    width: 100px;
}

.summer:hover{
    background-color: darkkhaki;
    font-size: 30px;
}